tensorflow==1.14
Pillow==6.1
scikit-image==0.15.0
tensorflow_hub
urllib3
sqlparse
nltk
tensorflow_ranking
keras
tflearn
requests
apted
matplotlib
tqdm
torch
sklearn
torchvision
django
flask
setuptools
numpy
gensim