tensorflow==1.14
Pillow==6.2
scikit-image==0.15.0
urllib3==1.26.7
sqlparse==0.4.2
nltk==3.6.6
keras==2.7.0
requests==2.26.0
apted==1.0.3
matplotlib==3.3.4
tqdm==4.62.3
django==3.2.10
flask==2.3.2
setuptools==58.0.4
sklearn==0.0
numpy==1.19.5
gensim==3.8.3
scipy==1.5.4
opencv-python==4.5.4.60
scenedetect==0.5.6.1